.myDeleteBtn {
  margin-top: 10px;
  width: 35px;
  height: 38px;
  border-radius: 10px;
  background: rgb(255, 17, 0);
  font-size: 30px;
  /* padding: 2px; */
  color: #ffffff;
  border: 3px solid #ffffff;
  margin-left: 30px;
  cursor: pointer;
}

.myItem {
  font-size: 35px;
  font-weight: 500;
}

.myCheckBox {
  /* margin-top: 20px; */
  width: 35px;
  height: 23px;
  /* display: block; */
  /* padding-left: 35px; */
  /* margin-bottom: 12px; */
  cursor: pointer;
  /* font-size: 22px; */
  /* -webkit-user-select: none; */
  /* -moz-user-select: none; */
  /* -ms-user-select: none; */
  /* user-select: none; */
  margin-right: 0px;
}
